.heading {
   margin: 1px;
   color: #FFFFFF;
   padding: 3px 10px;
   cursor: pointer;
   position: relative;
   background-color:#3D81FF;
}

.content {
   padding: 5px 10px;
   background-color:#fafafa;
}

.static {
   color: #FFFFFF;
   background-color:#3D81FF;
}

.container
{
   margin: 0 auto;
}

html, body 
{ 
   margin: 0; 
   padding: 0; 
}